html {
    width: 420px;
    font-family: Calibri, sans-serif;	
}

body {
    background-image: url("fundo2.jpg");
    background-size: cover;
    
    background-attachment: fixed;	
    background-repeat: no-repeat;
    padding-left: 0px;
    width: 100%;           
  }


#vovo {
    position: fixed;
    bottom: 0px;
    float: right;
    right: 5px;
    z-index: 10;
    height: 100px;
    width: 120px;
    
    margin-top: 15px;
    margin-bottom: 5px;
    animation: go-back 4s;

}
@keyframes go-back {
    from {
        transform: translateX(100px);
    }
    to {
        transform: translateX(0);
    }
    
}	


  
#nome {  
    position:absolute;  
    width:290px;
    left: 100px;
     background-color: rgb(216, 216, 216);
}

#cpf {
    position:absolute;
    left: 100px;
    width:165px;
    background-color: rgb(216, 216, 216);
}

#endereco {
    position:absolute;
    left: 200px;
    width:190px;
    background-color: rgb(216, 216, 216);
}

#data {
    position:absolute;
    left: 200px;
    width:100px;
    height: 17px;
    background-color: rgb(216, 216, 216);
}

#hora-montagem {
    position:absolute;
    left: 200px;
    height: 17px;
    background-color: rgb(216, 216, 216);
}

#hora-desmonte {
    position:absolute;
    left: 200px;
    height: 17px;
    background-color: rgb(216, 216, 216);
}

#email {  
    position:absolute;  
    width:290px;
    left: 100px;
    background-color: rgb(216, 216, 216);
}    

#telefone {  
    position:absolute;  
    width:165px;
    left: 100px;
    background-color: rgb(216, 216, 216);
}  

#pago {
    position:absolute;  
    width:165px;
    left: 200px;
    background-color: rgb(216, 216, 216);
}

#rest {
    position:absolute;  
    width:165px;
    left: 200px;
    background-color: rgb(216, 216, 216);
}

#obs {  
    position:absolute;  
    width:290px;
    left: 100px;
    background-color: rgb(216, 216, 216);
}

  form {
    
    font-weight: bold;    
    padding-left: 12px;
    font-size: 20px;
    color: #FFFFFF;
    text-shadow: 
               -1px -1px 0px #000000, 
               -1px 1px 0px #000000,                    
                1px -1px 0px #000000,                  
                1px 0px 0px #000000;
  }


  .container {
    
            width: 400px;
            height: 600px;
            margin: 0px; 
            padding-left: 0px;
            padding-top: 0px;
            
  }
 	
 button {
        position: absolute;
        height: 70px;
	width: 375px;
        box-shadow: 0px 0px 33px 7px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:11px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:11px 21px;
	text-decoration:none;
	text-shadow:3px 5px 2px #b23e35;
 }
    
button:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;       
 }

button:active {
	position:relative;
	top:1px;
}

input[type="checkbox"] {
    
    margin-right: 20px;
}

li {
    list-style-type: none;
    font-size: 22px;
    color: #000;
    text-shadow: 
               -1px -1px 0px #DDA0DD, 
               -1px 1px 0px #DDA0DD,                    
                1px -1px 0px #DDA0DD,                  
                1px 0px 0px #DDA0DD;
}


#demo {

    position:absolute;  
    left: 7px;
    top: 900px;
}

input {
    border: none;
    border-radius: 10px 10px;
    padding-left: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px #4B0082; 
	box-shadow: 5px 5px 15px 5px #4B0082;
    display: inline-block;
}



h1 {
    position: sticky;
    top: 20px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #ffffff;
    padding-bottom: 40px;
    text-shadow: 0px 8px 24px rgba(228,0,0,0.92);
    z-index:4;	
    margin-bottom: 0px;
}